.department {
	> li {text-align:center; text-transform:uppercase;
		> a {border-bottom:$bees-border-light; display:block}
		.title {display:block; margin:0 0 15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }
	}
}

.category {padding-left:0; list-style:none;
	/* Category styles */
	.info {overflow:hidden; padding-top:$bees-gutter-small; text-align:left; vertical-align:top;
		span, a {display:block; margin:0 0 $bees-gutter-small;}
		.price {color:$bees-brand-primary; line-height:21px; font-size:18px; }
		.stock {color:$bees-brand-tertiary; text-transform:uppercase}
		
	}

	&.list {
		/* Category layout */
		> li {overflow:hidden; padding:0 0 $bees-gutter-small; margin: 0 0 $bees-gutter-small; border-bottom:$bees-border-medium; }
		.image {float:left; border-right:$bees-border-light;  margin-right:$bees-gutter-medium; padding-right:$bees-gutter-medium; line-height:100px; text-align:center; width:117px;
			img {display:inline-block; max-width:100%; vertical-align:middle; }
		}
		.info {overflow:hidden; padding-top:$bees-gutter-small; vertical-align:top;
			.summary {display:inline-block; overflow:hidden; width:70%;}
			.feature {display:inline-block; overflow:hidden; width:30%; text-align:right; vertical-align:top;}
			.title {font-size:14px;line-height:21px; }
			
		}
	}
}

/* Filter styles - need redoing! */
.categoryFilters {float:left; width:$bees-width-grid; margin-left:-$bees-gutter-medium; margin-right:-$bees-gutter-medium;
	/* Shared filter styles */
 	dl {margin:0 0 16px; padding:0 $bees-gutter-medium}
 	dt {font-size:13px; border-bottom:1px solid #ccc; padding:0 0 8px; color:$bees-brand-primary; font-weight:300; margin:0}
 	dd, li {padding:6px 0 0;
 		span {color:$bees-brand-secondary; font-weight:600;}
 		a {color:$bees-brand-default; font:11px/16px $bees-font-primary}
 		a:hover {text-decoration:underline}
 		&:before {content:'(25)'; float:right; color:$bees-brand-tertiary; font-weight:600; font-size:11px; margin-left:$bees-gutter-small}
 	}

 	/* Toggle filter styles */
 	.filterToggle {
		a:before {content: ''; border:$bees-border-medium; line-height:13px; height:13px; width:13px; margin:2px 5px 0 0; display:inline-block; text-align:center; vertical-align:top;}
		.active a {font-weight:600; font-family:$bees-font-icons;
	 		&:before {content:$bees-icon-tick; color:$bees-brand-primary }
	 		&:hover:before {content:$bees-icon-cross; color:#730 }
	 	}
 	}

 	/* Hierarchical filter styles */
 	.filterHierarchy {
	 	ul {list-style:none; margin:0; padding:0 0 0 $bees-gutter-small;; position:relative;
	 		span:before, a:before {font-family:$bees-font-icons; content:$bees-icon-arrow-right; margin-right:4px; }
	 	}
 	}

 	.filterPrice {
 		label {font-weight:600;}
 		input {width:100%;}
 	}
	
}

.categoryResults {float:right; width:($bees-width-grid * 4) - ($bees-gutter-medium * 2)}

/* Large desktop view */
@media all and (min-width: $bees-width-xl) {
	.categoryResults {width:($bees-width-grid * 5) - ($bees-gutter-medium * 2)}
 }
/* Large tablet view */
@media all and (max-width: $bees-width-lg - 1) {
	.categoryFilters, .categoryResults {float:none; width:auto}
	.categoryFilters dl {display:inline-block; vertical-align:top; width:$bees-width-grid}
}
/* Small mobile view */
@media all and (max-width: $bees-width-sm - 1) {
	.category.list > li {
		.info {
			.summary, .feature {width:100%; text-align:left;}
			.title {font-size:12px; line-height:16px}
		}
		.feature .price {font-size:14px}
	}

	.category.grid .info {text-align:center}
	.categoryFilters dl {width:50%;}
}
/* Small mobile view */
@media all and (max-width: $bees-width-xs - 1) {
	.categoryFilters dl {width:100%;}
}