// Site colours
$bees-brand-primary: #295 !default;
$bees-brand-secondary: #259 !default;
$bees-brand-tertiary: #888 !default;
$bees-brand-soft: #ccc !default;
$bees-brand-default: #555 !default;
$bees-brand-background: #f3f1ed !default;
$bees-brand-light: #fff !default;
$bees-brand-highlight: #ddc !default;
$bees-brand-warning: #ffe !default;
$bees-brand-error: #fee !default;
$bees-brand-success: #efe !default;

// Site fonts
$bees-font-primary: 'Open Sans','Tahoma','Geneva',sans-serif !default;
$bees-font-icons: 'Icons' !default;

$bees-icon-tick: '\f00c' !default;
$bees-icon-cross: '\f00d' !default;
$bees-icon-plus: '\f067' !default;
$bees-icon-minus: '\f068' !default;
$bees-icon-account: '\f007' !default;
$bees-icon-search: '\f002' !default;
$bees-icon-menu: '\f0c9' !default;
$bees-icon-basket: '\f07a' !default;
$bees-icon-arrow-right: '\f107' !default;

// Site borders 
$bees-border-faint: 1px solid #eee !default;
$bees-border-light: 1px dashed $bees-brand-highlight !default;
$bees-border-medium: 1px solid $bees-brand-highlight !default;
$bees-border-heavy: 1px solid $bees-brand-soft !default;

// Gutter spacing
$bees-gutter-small: 8px !default;
$bees-gutter-medium: 16px !default;
$bees-gutter-large: 24px !default;

// Media breakpoints
$bees-width-grid: 192px !default;
$bees-width-grid-image: $bees-width-grid - (2 * $bees-gutter-medium) !default;
$bees-width-xs: 450px !default;
$bees-width-sm: 600px !default;
$bees-width-md: 780px !default;
$bees-width-lg: 980px !default;
$bees-width-xl: 1180px !default;

// Image sizes
$bees-image-small: 100px !default;
$bees-image-medium: 100px !default;
$bees-image-large: 360px !default;